body{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
background-color: teal;
padding: 10px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
  background-color: none;
}
.card-container{
    display: block;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
    text-align: center;
    font-family: arial;
    display: inline-block;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card1 {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card{
      padding: 10px;
      background-color: #FFFFFF;
      border-radius: 30px;
  }
  button{
    background-color: #FFFFFF; /* Green */
    border: 3px solid #CC6419;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    border-radius: 30px;
  }

  img{
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
  }
  .card button:hover {
    opacity: 0.8;
  }
  button:hover {
    background-color: #CC6419; /* Green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.2);
  }
  button:after{
    background-color: #FFFFFF; /* Green */
    border: 5px solid #CC6419;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50;
}
about-header{
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-color: none;
    font-weight:bolder;
}
.container{
    margin: 0;
    padding: 20px;
    background-image: url(../restaurant99/faisal.jpg);
    background-position: left top;
    background-repeat: repeat-x;
}