body{
    background-color: #e9e1dc;
    margin: 0;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Hyperlink*/
a{
    color: #CC6419;
}
a:hover{
    color: #793c11;
}
a:visited{
    color: #CC6419;
    opacity: 0.4;
}
/*Header Styles*/
header{
    color:black;
    font-style: normal;
}
header#h1{
    font-family: Cooper, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    font-weight: 900;
}
header#h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
}
header#h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
/*Submit Button*/
button#sub {
    background-color: #FFFFFF;
    border: 5px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
button#sub:hover {
    background-color: #CC6419; /* Green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.2);
}
button#sub:after{
    background-color: #FFFFFF; /* Green */
    border: 5px solid #CC6419;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
/*Products Button*/
button#command{
    background-color: #FFFFFF; /* Green */
    border: 5px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: max-content;
}
button#command:hover{
    background-color: #CC6419; /* Green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    width: max-content;
}
button#command:after{
    background-color: #FFFFFF; /* Green */
    border: 5px solid #CC6419;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: max-content;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}
/*Navigation Bar*/
ul#topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  ul#topnav li {float: left;}
  
  ul#topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul#topnav li a:hover:not(.active) {background-color: #111;}
  
  ul#topnav li a.active {background-color: #CC6419;}
  
  ul#topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul#topnav li.right, 
    ul#topnav li {float: none;}
  }
