body{
    margin: 0px;
}
h1 {
background-color: teal;
padding: 10px;
}
h2{
  background-color: none;
}

#info {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
  }
  
  #info td, #info th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #info tr:nth-child(even){background-color: #f2f2f2;}
  
  #info tr:hover {background-color: #ddd;}
  
  #info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #197979;
    color: white;
    width: 50%;
  }
  button{
    background-color: #FFFFFF; /* Green */
      border: 3px solid #CC6419;
      color: black;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      width:inherit;
  }
  input[type=submit], .button {
      background-color: #FFFFFF; /* Green */
      border: 3px solid #CC6419;
      color: black;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      width: 100%;
  }
  input[type=submit]:hover, .button:hover {
      background-color: #CC6419; /* Green */
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.8s; /* Safari */
      transition-duration: 0.8s;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.2);
  }
  input[type=submit]:after .button:after{
      background-color: #FFFFFF; /* Green */
      border: 5px solid #CC6419;
      color: black;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 50;
  }
  input[type=text], textarea{
    color: #CC6419;
    display:block;
    border-radius: 5px;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc;  /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;
}
  input[type=text]:hover, textarea:hover{
    border-bottom: 1px solid black;
    color: #CC6419;
  }

  /*About Us*/
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .about-header{
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-color: none;
    font-weight:bolder;

  }
  .container1{
    margin: 0;
    padding: 20px;
  }
  
  .container{
    margin: 0;
    padding: 20px;
    background-image: url(../restaurant99/faisal.jpg);
    background-position: left top;
    background-repeat: repeat-x;
  }

  h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .subcontainer{
    text-align: center;
    background-color: #f2f2f2;
    padding: 30px;
    width: auto;
  }

  incontainer{
    float: left;
    width: auto;
  }